.m-padded-tb-mini {
    padding-top: 0.2em !important;
    padding-bottom: 0.2em !important;
}

.m-padded-t-middle {
    padding-top: 40px !important
}

.m-padded-tb-massive {
    padding-top: 2.0em !important;
    padding-bottom: 2.0em !important;
}